  <!-- Site Footer -->  
  <footer class="bg-indigo-darkest">
    <div class="flex flex-col md:flex-row items-center justify-between max-w-xl mx-auto px-4 md:px-8 py-8">
      <div class="mb-4 md:mb-0 text-white">© 2018 Taylor Bryant</div>

      <div class="flex items-center text-xl">
        <div>
          <a class="text-white" href="https://twitter.com/tayl_rbryant" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </div>

        <div class="ml-4">
          <a class="text-white" href="https://github.com/taylorbryant/" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>

        <div class="ml-4">
          <a class="text-white" href="https://codepen.io/taylorbryant" target="_blank">
            <i class="fab fa-codepen"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111515120-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-111515120-1');
  </script>
</body>
</html>
