  <!-- Site Footer -->  
  <footer class="bg-indigo-darkest">
    <div class="flex flex-col md:flex-row items-center justify-between max-w-xl mx-auto px-4 md:px-8 py-8">
      <div class="mb-4 md:mb-0 text-white">© 2017 Taylor Bryant</div>

      <div class="flex items-center">
        <div class="w-6 md:w-8">
          <a class="text-white" href="https://twitter.com/tayl_rbryant">
            <i class="fab fa-twitter"></i>
          </a>
        </div>

        <div class="ml-4 w-6 md:w-8">
          <a class="text-white" href="https://github.com/taylorbryant/">
            <i class="fab fa-github"></i>
          </a>
        </div>

        <div class="ml-4 w-6 md:w-8">
          <a class="text-white" href="https://codepen.io/taylorbryant">
            <i class="fab fa-codepen"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>