<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% case page.url %}
      {% when '/' %}
        <title>Taylor Bryant</title>
        <meta name="description" content="Tips & tricks for front-end developers. Learn something new over your next cup of coffee!" />

        <!-- Canonical URL -->
        <link rel="canonical" href="https://taylorbryant.blog{{ page.permalink }}">
        
        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="Taylor Bryant">
        <meta itemprop="description" content="Tips & tricks for front-end developers. Learn something new over your next cup of coffee!">
        <meta itemprop="image" content="https://taylorbryant.blog/android-chrome-512x512.png"> -->
        
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@tayl_rbryant">
        <meta name="twitter:title" content="Taylor Bryant">
        <meta name="twitter:description" content="Tips & tricks for front-end developers. Learn something new over your next cup of coffee!">
        <meta name="twitter:creator" content="@tayl_rbryant">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="https://taylorbryant.blog/android-chrome-512x512.png"> -->
        
        <!-- Open Graph data -->
        <meta property="og:title" content="Taylor Bryant" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://taylorbryant.blog{{ page.permalink }}" />
        <meta property="og:image" content="https://taylorbryant.blog/android-chrome-512x512.png" /> -->
        <meta property="og:description" content="Tips & tricks for front-end developers. Learn something new over your next cup of coffee!" />
        <meta property="og:site_name" content="Taylor Bryant" />
        <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}" />
        <meta property="article:section" content="Blog" />
        <meta property="article:tag" content="taylor" />
        <meta property="article:tag" content="bryant" />
        <meta property="article:tag" content="front-end" />
        <meta property="article:tag" content="developer" />
        <meta property="article:tag" content="memphis" />
      {% when '/about.html' %}
        <title>Taylor Bryant | About</title>
        <meta name="description" content="My name is Taylor Bryant. I am a front-end developer based in Memphis, TN. I work at a local SEO/web design company called HigherVisibility." />
        
        <!-- Canonical URL -->
        <link rel="canonical" href="https://taylorbryant.blog{{ page.permalink }}">
        
        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="Taylor Bryant | About">
        <meta itemprop="description" content="My name is Taylor Bryant. I am a front-end developer based in Memphis, TN. I work at a local SEO/web design company called HigherVisibility.">
        <meta itemprop="image" content="https://taylorbryant.blog/android-chrome-512x512.png"> -->
        
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@tayl_rbryant">
        <meta name="twitter:title" content="Taylor Bryant | About">
        <meta name="twitter:description" content="My name is Taylor Bryant. I am a front-end developer based in Memphis, TN. I work at a local SEO/web design company called HigherVisibility.">
        <meta name="twitter:creator" content="@tayl_rbryant">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="https://taylorbryant.blog/android-chrome-512x512.png"> -->
        
        <!-- Open Graph data -->
        <meta property="og:title" content="Taylor Bryant | About" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://taylorbryant.blog{{ page.permalink }}" />
        <meta property="og:image" content="https://taylorbryant.blog/" /> -->
        <meta property="og:description" content="My name is Taylor Bryant. I am a front-end developer based in Memphis, TN. I work at a local SEO/web design company called HigherVisibility." />
        <meta property="og:site_name" content="Taylor Bryant" />
        <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}" />
        <meta property="article:section" content="Blog" />
        <meta property="article:tag" content="taylor" />
        <meta property="article:tag" content="bryant" />
        <meta property="article:tag" content="front-end" />
        <meta property="article:tag" content="developer" />
        <meta property="article:tag" content="memphis" />
        <meta property="article:tag" content="freelance" />
      {% else %}
        <title>Taylor Bryant | {{ page.title }}</title>
        <meta name="description" content="{{ page.description }}" />
        
        <!-- Canonical URL -->
        <link rel="canonical" href="https://taylorbryant.blog{{ page.permalink }}">
        
        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="{{ page.title }}">
        <meta itemprop="description" content="{{ page.description }}">
        <meta itemprop="image" content="https://taylorbryant.blog/assets/img{{ page.permalink }}/main.png">
        
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@tayl_rbryant">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:creator" content="@tayl_rbryant">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="https://taylorbryant.blog/assets/img{{ page.permalink }}/main.png">
        
        <!-- Open Graph data -->
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://taylorbryant.blog{{ page.permalink }}" />
        <meta property="og:image" content="https://taylorbryant.blog/assets/img{{ page.permalink }}/main.png" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:site_name" content="Taylor Bryant" />
        <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}" />
        <meta property="article:section" content="Blog" />
        <meta property="article:tag" content="css" />
        <meta property="article:tag" content="stats" />
        <meta property="article:tag" content="bookmarklet" />
    {% endcase %}

    {% capture styles %}
      {% include style.scss %}
    {% endcapture %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#6d0ef1">
    <meta name="theme-color" content="#fcfcfd">
    
    <style>
      {{ styles | scssify }}
    </style>
  </head>
  <body>
    <div class="visible-area">
