<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Taylor Bryant</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5661b3">
  <meta name="theme-color" content="#e6e8ff">

  <!-- SEO -->
  <meta name="description" content="A blog about front-end development by Taylor Bryant.">
  <meta name="keywords" content="Taylor,Bryant,Memphis,Tennessee,Web,Developer,Front-end,Frontend">
  <meta name="author" content="Taylor Bryant">
  
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@tayl_rbryant">
  <meta name="twitter:creator" content="@tayl_rbryant">
  <meta name="twitter:url" content="https://taylorbryant.blog">
  <meta name="twitter:title" content="Taylor Bryant">
  <meta name="twitter:description" content="A blog about front-end development by Taylor Bryant.">
  <meta name="twitter:image" content="https://taylorbryant.blog/android-chrome-512x512.png">
  
  <!-- Schema.org -->
  <meta itemprop="name" content="Taylor Bryant">
  <meta itemprop="description" content="A blog about front-end development by Taylor Bryant.">
  <meta itemprop="image" content="https://taylorbryant.blog/android-chrome-512x512.png">
  
  <!-- Styles -->
  <style>
    {% include style.css %}
  </style>
  
  <!-- Font Awesome 5 -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>

<body class="bg-grey-lighter font-sans leading-normal">
  <!-- Site Header -->
  <header class="bg-indigo-darker">
    <div class="flex flex-col md:flex-row items-center justify-center md:justify-between max-w-xl mx-auto px-4 md:px-8 py-8">
      <a href="{{ "/" | relative_url }}" class="font-black italic mb-4 md:mb-0 text-3xl tracking-wide block border-4 border-white leading-none no-underline p-2 rounded text-white">tb</a>

      <ul class="flex list-reset">
        <li><a href="{{ "/" | relative_url }}" class="hover:underline no-underline text-white">Home</a></li>

        <li class="ml-6">
          <a href="mailto:taylor@bryant.io" class="hover:underline no-underline text-white">Contact</a>
        </li>
      </ul>
    </div>
  </header>