<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Taylor Bryant</title>
  
  <style>
    {% include style.css %}
  </style>
</head>

<body class="bg-grey-lighter font-sans leading-normal">
  <header>
    <div class="flex flex-col md:flex-row items-center justify-center md:justify-between max-w-xl mx-auto px-4 md:px-8 py-8">
      <div class="font-bold font-serif mb-1 md:mb-0 text-indigo-darkest text-3xl tracking-wide">
        <a href="{{ "/" | relative_url }}" class="no-underline text-indigo-darkest">Taylor Bryant</a>
      </div>

      <ul class="flex list-reset">
        <li><a href="{{ "/" | relative_url }}" class="hover:underline no-underline text-indigo-darkest">Home</a></li>

        <!--<li class="ml-6"><a href="{{ "/about" | relative_url }}" class="hover:underline no-underline text-indigo-darkest">About</a></li>

        <li class="ml-6"><a href="mailto:taylor@bryant.io" class="hover:underline no-underline text-indigo-darkest">Now</a></li>-->

        <li class="ml-6">
          <a href="mailto:taylor@bryant.io" class="hover:underline no-underline text-indigo-darkest">Contact</a>
        </li>
      </ul>
    </div>
  </header>