html {
  line-height: 1.15;
      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
footer, header {
  display: block;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  color: #282a36;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
a {
  color: #1d54e5;
  font-weight: 700;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}
h1, h2, h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 40px;
  margin-bottom: 10px;
}
h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
ul {
  margin-bottom: 20px;
}
ul {
  margin: 0 0 20px 0;
  padding: 0 0 0 40px;
}
li {
  margin-bottom: 10px;
}
.visible-area {
  overflow: hidden;
}
.header {
  background-color: #306ffd;
  background-image: linear-gradient(60deg, #306efe, #003ab7);
  padding: 40px 0 120px;
  position: relative;
}
.header__copy {
  color: #fff;
  line-height: 1.5;
  margin: 60px auto 0;
  max-width: 75%;
  text-align: center;
}
@media only screen and (max-width: 600px) and (orientation: landscape) {
  .header__copy {
    font-size: 2em;
  }
}
.header__bottom {
  bottom: 0;
  height: auto;
  left: 0;
  position: absolute;
  width: 100%;
}
.navigation {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 2px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
@media only screen and (max-width: 450px) {
  .navigation {
    font-size: 14px;
  }
}
.navigation__link {
  background-color: #282a36;
  color: #fff;
  display: block;
  letter-spacing: 3px;
  padding: 10px 15px;
}
.navigation__link:hover {
  background-color: #fff;
  color: #282a36;
  text-decoration: none;
}
.navigation__item {
  margin-bottom: 0;
}
.navigation__item + .navigation__item {
  margin-left: 20px;
}
@media only screen and (max-width: 450px) {
  .navigation__item + .navigation__item {
    margin-left: 5px;
  }
}
.container {
  margin: 40px auto;
  max-width: 750px;
  padding: 0 20px;
  width: 100%;
}
.list__item {
  margin-top: 20px;
}
.footer {
  color: #6a737d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 80%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}
.footer__copyright {
  margin-bottom: 0;
}
