---
---

@import "{{ site.theme }}";

.container {
	max-width: 980px;
	width: 100%;
	padding: 1rem;
}

.title {
	color: #0903D6;
}

.post-date {
	color: #6a737d;
	letter-spacing: 5px;
	text-transform: uppercase;
}

footer {
	color: #6a737d;
	display: flex;
	justify-content: space-between;
}