/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 * 
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor:
 * 
 * @import "components/buttons";
 * @import "components/forms";
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  border: 0;
}

html {
  font-size: 16px;
}

h1 {
  @apply .text-3xl;
}

h2 {
  @apply .text-2xl;
}

h3 {
  @apply .text-xl;
}

h4 {
  @apply .text-lg;
}

h5 {
  @apply .text-base;
}

h6 {
  @apply .text-sm;
}

@screen md {
  h1 {
    @apply .text-5xl;
  }

  h2 {
    @apply .text-3xl;
  }

  h3 {
    @apply .text-2xl;
  }

  h4 {
    @apply .text-xl;
  }

  h5 {
    @apply .text-lg;
  }

  h6 {
    @apply .text-base;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply .font-black .leading-tight;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child), h6:not(:first-child) {
  @apply .mt-8;
}

h1:not(:last-child), h2:not(:last-child), h3:not(:last-child), h4:not(:last-child), h5:not(:last-child), h6:not(:last-child) {
  @apply .mb-2;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  @apply .text-indigo-darkest;
}

main p, main ul, main ol {
  @apply .leading-loose .text-indigo-darker;
}

main p:not(:last-child), main ul:not(:last-child), main ol:not(:last-child) {
  @apply .mb-4;
}

main li {
  @apply .mt-2;
}

main a {
  @apply .no-underline .text-indigo-dark;
}

main pre {
  @apply .bg-indigo-lightest .break-normal .font-mono .mb-4 .overflow-auto .p-4 .text-indigo-darkest .whitespace-pre;
}

main :not(pre) > code {
  @apply .bg-indigo-lightest;
  padding: 4px 8px;
}

main img {
  @apply .border-4 .border-indigo .border-solid;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor..
 * 
 * @import "utilities/backgrond-patterns";
 * @import "utilities/skew-transforms";
 */
